<section class="hero">
    <div class="hero-slide active" style="background-image: url('@Url.Content("~/webuser/images/2497cb88-1dd9-4ee9-81df-34de687dddab.png")')"></div>
    <div class="hero-slide" style="background-image: url('@Url.Content("~/webuser/images/4.png")')"></div>
    <div class="hero-slide" style="background-image: url('@Url.Content("~/webuser/images/3.png")')"></div>

    <!-- İçerik -->
    <div class="container">
        <div class="hero-content">
            <h1>Japon Sakinliğinden İlham Alan Matcha</h1>
            <p><b>Yüzyıllardır süregelen bir gelenekle harmanlanan bu özel lezzet, her yudumda zihnini arındırır, ruhunu dinginleştirir; günün telaşından uzaklaşmak, doğayla yeniden bağ kurmak ve kendine sakin bir an armağan etmek isteyenler için sade ama derin bir deneyim sunar.</b></p>
        </div>
    </div>

    <!-- Scroll Down -->
    <div class="scroll-down">
        <div>Scroll Down</div>
        <i class="fas fa-chevron-down"></i>
    </div>
</section>
