<section class="gallery-section">
    <div class="container-fluid px-0">
        <div class="row g-0">
            <!-- Left big image -->
            <div class="col-lg-6">
                <div class="h-100">
                    <div style=" width: 761px;height: 600px;">
                        <img src="~/webuser/images/f2643ed09899f17ac0d8b9f11123f0d9.jpg" class="d-block w-100 h-100 object-fit-cover" style="min-height: 600px;" alt="Big Sushi Bite">
                    </div>
                </div>
            </div>

            <!-- Right grid -->
            <div class="col-lg-6">
                <div class="row g-0">
                    <!-- Top 2 small -->
                    <div class="col-6">
                        <div style="height: 200px;">
                            <img src="~/webuser/images/f2643ed09899f17ac0d8b9f11123f0d9.jpg" class="d-block w-100 h-100 object-fit-cover" alt="Flowers">
                        </div>
                    </div>
                    <div class="col-6">
                        <div style="height: 200px;">
                            <img src="~/webuser/images/5bef39f8c7eccc92ccf0171a64cdbc44.jpg" class="d-block w-100 h-100 object-fit-cover" alt="Other Flower">
                        </div>
                    </div>

                    <!-- Middle wide -->
                    <div class="col-12">
                        <div style="height: 200px;">
                            <img src="~/webuser/images/d133448fed290b6efc121cabde795714.jpg" class="d-block w-100 h-100 object-fit-cover" alt="Restaurant Interior">
                        </div>
                    </div>

                    <!-- Bottom 2 small -->
                    <div class="col-6">
                        <div style="height: 200px;">
                            <img src="~/webuser/images/9656d5de5403e7ccd246e6c7cf2fd57a.jpg" class="d-block w-100 h-100 object-fit-cover" alt="Green Sushi">
                        </div>
                    </div>
                    <div class="col-6">
                        <div style="height: 200px;">
                            <img src="~/webuser/images/b6e96ba47890528ffdc8381b47b07bfc.jpg" class="d-block w-100 h-100 object-fit-cover" alt="Salmon Nigiri">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
