@{
    var tableId = Context.Session.GetInt32("TableId");
}
<nav class="navbar navbar-expand-lg navbar-light fixed-top">
    <div class="container">
        <a class="navbar-brand" href="index.html">
            <img src="~/webuser/images/logo2.png" alt="Logo" height="150">
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                
                <li class="nav-item"><a class="nav-link" href="/Default/Index/">Ana Sayfa</a></li>
                <li class="nav-item"><a class="nav-link" href="/Menu/Index/">Menü</a></li>
                <li class="nav-item"><a class="nav-link" href="/AboutUI/Index">Hakkımızda</a></li>
                <li class="nav-item"><a class="nav-link" href="/BookATable/Index/">Rezervasyon</a></li>
                <li class="nav-item"><a class="nav-link" href="#">İletişim</a></li>
                <li class="nav-item">
                @if (tableId != null)
                {
                    <a class="nav-link" href="/Basket/Index/@tableId"><i class="fa-solid fa-basket-shopping"></i></a>
                }
                else{
                <a class="nav-link disabled" href="#"><i class="fa-solid fa-basket-shopping"></i></a>
                }
                </li>
                <li class="nav-item"><a class="btn btn-green ms-3" href="">Sipariş Ver</a></li>
            </ul>
        </div>
    </div>
</nav>
